.note-form-group {
  padding-bottom: 20px;
}

.note-form-group:last-child {
  padding-bottom: 0;
}

.note-form-label {
  font-size: 16px;
  font-weight: 700;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #42515f;
}

.note-input {
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ededef;
  outline: 0;
  background: #fff;
  @include box-sizing();
}

.note-input::-webkit-input-placeholder {
  color: $gray-lighter;
}

.note-input:-moz-placeholder { /* Firefox 18- */
  color: $gray-lighter;
}

.note-input::-moz-placeholder { /* Firefox 19+ */
  color: $gray-lighter;
}

.note-input:-ms-input-placeholder {
  color: $gray-lighter;
}
