@font-face {
  font-family: "summernote";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("./font/summernote.eot");
  src: url("./font/summernote.eot?#iefix") format("embedded-opentype"), url("./font/summernote.woff2") format("woff2"), url("./font/summernote.woff") format("woff"), url("./font/summernote.ttf") format("truetype");}


[class^="note-icon"]:before,
[class*=" note-icon"]:before {
  display: inline-block;
  font-family: summernote;
  font-style: normal;
  font-size: inherit;
  text-decoration: inherit;
  text-rendering: auto;
  text-transform: none;
  vertical-align: middle;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}


.note-icon-fw {
  text-align: center;
  width: 1.25em;
}

.note-icon-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.note-icon-pull-left {
  float: left;
}

.note-icon-pull-right {
  float: right;
}

.note-icon.note-icon-pull-left {
  margin-right: 0.3em;
}

.note-icon.note-icon-pull-right {
  margin-left: 0.3em;
}


.note-icon-align::before {
  content: "\ea01";
}

.note-icon-align-center::before {
  content: "\ea02";
}

.note-icon-align-indent::before {
  content: "\ea03";
}

.note-icon-align-justify::before {
  content: "\ea04";
}

.note-icon-align-outdent::before {
  content: "\ea05";
}

.note-icon-align-right::before {
  content: "\ea06";
}

.note-icon-bold::before {
  content: "\ea07";
}

.note-icon-caret::before {
  content: "\ea08";
}

.note-icon-eraser::before {
  content: "\ea09";
}

.note-icon-italic::before {
  content: "\ea0a";
}

.note-icon-link::before {
  content: "\ea0b";
}

.note-icon-link broken::before {
  content: "\ea0c";
}

.note-icon-ordered list::before {
  content: "\ea0d";
}

.note-icon-strikethrough::before {
  content: "\ea0e";
}

.note-icon-style::before {
  content: "\ea0f";
}

.note-icon-subscript::before {
  content: "\ea10";
}

.note-icon-superscript::before {
  content: "\ea11";
}

.note-icon-underline::before {
  content: "\ea12";
}

.note-icon-unordered list::before {
  content: "\ea13";
}

