.note-toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.note-btn-group {
  position: relative;
  display: flex;
  margin-right: 4px;
  padding-right: 4px;
  border-right: 1px solid rgba(black, 0.1);

  > .note-btn-group {
    margin-right: 0;
    padding-right: 0;
    border: none;
  }

  .note-dropdown-menu {
    min-width: 226px;

    .note-btn-group {
      display: inline-block;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border: none;
      }

      .note-btn {
        display: inline-block;
      }
    }
  }

  &.open {
    > .note-dropdown {
      display: block;
    }
  }
}

.note-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  height: 30px;
  margin: 4px 4px 4px 0;
  padding: 4px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  touch-action: manipulation;

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover,
  &:focus,
  &.focus {
    background-color: $btn-default-hover-bg;
  }

  &:active,
  &.active {
    background-color: $btn-default-hover-bg;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    opacity: 0.65;
    box-shadow: none;

    &:focus,
    &.focus {
      border-color: $btn-default-border;
      background-color: $btn-default-bg;
    }
  }

  & > span.note-icon-caret:first-child {
    margin-left: -1px;
  }

  & > span.note-icon-caret:nth-child(2) {
    margin-right: -5px;
    padding-left: 3px;
  }
}

.note-btn-primary {
  color: #fff;
  background: #fa6362;

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    color: #fff;
    border: 1px solid $btn-default-border;
    border-radius: 1px;
    background-color: #fa6362;
  }
}

.note-btn-block {
  display: block;
  width: 100%;
}

.note-btn-block + .note-btn-block {
  margin-top: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.note-btn-block {
    width: 100%;
  }
}

button.close {
  padding: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.close {
  font-size: 21px;
  line-height: 1;
  float: right;
  opacity: .2;
  color: #000;
}

.close:hover {
  opacity: 1
}
